button {
  @include smooth-transition;
  cursor: pointer; // Show the hand cursor when the user hovers over the button
}

.button--hover {
  @include button-circle;
  @include box-shadow;
  position: fixed;
  right: 15vw; // Align the button to be fixed near the bottom right of the page
  bottom: 10vw;
  cursor: pointer; // Show the hand cursor when the user hovers over the button
  z-index: 5; // Show the button above the overlay layers
  &:hover {
    background: $accent-dark;
  }
}

.button--orderCrawl {
  @include button-circle;
  @include box-shadow;
  z-index: 5; // Show the button above the overlay layers
  clear: both; // Stop any nearby elements from appearing on the same line as the button
  display: inline-block;
}

.button--large {
  -webkit-appearance: none; // Remove the default browser appearance from the button
  border: 2px solid $accent;
  background: none;
  border-radius: 5em;
  padding: $input-padding;
  text-decoration: none; // Remove default link text for the element
  font-size: $button-size;
  text-transform: uppercase; // Transform the text within the button to full capitals
  font-weight: bold;
  text-align: center;
  margin-top: 1em;
  &:hover {
    cursor: pointer; // Show the hand cursor when the user hovers over the button
  }
}

.button--accent {
  background: $accent;
  color: $white;
  &:hover {
    background: $accent-dark;
  }
}

.button--white {
  background: $white;
  color: $accent;
  &:hover {
    background: $off-white;
  }
}

.form--vertical {
  display: flex;
  flex-direction: column;
  width: $form-width;
  color: $accent;
  p, label, input {
    width: 100%;
  }
  span {
    font-weight: 500;
    font-size: 1em;
  }
  input {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box; // Include the padding and border within the element's size
    border: 2px solid $accent-light;
    border-radius: 0.75em;
    background: $accent-lighter;
    padding: 0.5em 0;
    margin-top: 0.3em;
    text-decoration: none; // Remove default link text for the element
    color: $accent;
    font-size: 1em;
    font-weight: 500;
    text-indent: 1em;
  }
  p {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
  }
}

.nav_button {
    display: flex;
    align-self: center;
    text-decoration: none;  // Remove default link text for the element
    color: $white;
    margin: 0.3em;
}

.pub_button {
  position: absolute;
  right: 1em;
  border: none;
  -webkit-appearance: none; // Remove the default browser appearance from the button
  background: $white;
  border-radius: 50%;
}

.button--blue {
  font-family: 'Open Sans', sans-serif;
  -webkit-appearance: none;
  background: $accent; // Remove the default browser appearance from the button
  color: white;
  border: none;
  text-decoration: none; // Remove default link text for the element
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: 0.4em;
  &:hover {
    background: $accent-dark;
  }
}

.input--blue {
  -webkit-appearance: none; // Remove the default browser appearance from the button
  border: solid 1px $accent;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 500;
  padding: 0.5em;
}

.button--hover.button--active {
  img {
    -webkit-transform: rotate(45deg); // Rotate on webkit based browsers
    -ms-transform: rotate(45deg); // Rotate on edge
    transform: rotate(45deg); // Rotate the plus icon 45 degrees to create a close icon
  }
}

.pubDetails_close {
  width: 5em;
}

.reorderPubForm_select {
  position: relative;
  display: inline-block;
  width: 4em;
}

select {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0px;
  background: $accent;
  color: $white;
  appearance: none;
  -webkit-appearance: none; // Remove the default browser appearance from the button
  -moz-appearance: none; // Remove the default firefox appearance from the button
}
select::-ms-expand {
  display: none;
}
select:hover,
select:focus {
  color: $white;
  background: $accent-dark;
}
select:disabled {
  opacity: 0.4;
  pointer-events: none; // Stop any change in the cursor's icon
}
.select_arrow {
  position: absolute;
  top: 17px;
  right: 0;
  width: 0;
  height: 0;
  pointer-events: none; // Stop any change in the cursor's icon
  border-style: solid;
  border-width: 8px 5px 0px 5px; // Create the arrow shape from borders
  border-color: $white transparent transparent transparent; // Show the arrow by hiding certain borders
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-top-color: $dark;
}
.select select:disabled ~ .select_arrow {
  border-top-color: $white;
}
