
#map {
  height: 80vh;
  position: relative;
  width: 60vw;
}

#nextLocation {
  display: flex;
  height: 20vh;
  background: $white;
}

#nextLocation__details {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  color: $accent;
  padding: 1em;
  #nextLocation__name {
    font-weight: bold;
  }
}

#nextLocation__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.2em;
  button {
    display: flex;
    align-self: flex-end;  
    margin: 0.5em 0.75em;
    padding: 0.5em 1.5em;
  }
}
