@media screen and (min-width: 40em) { // Set the styles when on a browser window with a width of over 40em
  html body {
    main {
      .button--createCrawl {
        right: 30vw;
        bottom: 10vw;
      }
    }
  }
}

@media screen and (max-width: 50em) { // Set the styles when on a browser window with a width of under 50em
  html body {
    header {
      .title--left {
        display: none;
      }
      .nav {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 40em) { // Set the styles when on a browser window with a width of under 40em
  html body {
    .button .icon {
        width: 2em;
        height: 2em;
    }
    main {
      .crawlList {
        grid-template-columns: 1fr; // Set the grid to one element in width
      }
      .editCrawlMenu, .newCrawlMenu, .searchPubsContainer {
        .editCrawlForm, .newCrawlForm, .searchPubsMenu {
          padding: 1em;
        }
      }
      .pubDetailsContainer {
        .pubDetails {
          width: 90%;
        }
      }
      #map {
        width: 100vw;
      }
    }
  }
}

@media screen and (max-width: 25em) { // Set the styles when on a browser window with a width of under 25em
  html body {
    header {
        flex-direction: column;
        .logo--mobile {
            display: flex;
        }
    }
    main {
      #content, #content--flex {
        #map {
          height: 70vh;
        }
        #nextLocation {
          height: 30vh;
        }
        .container--form {
            width: 100%;
        }
        h2 {
            font-size: $h1-size*0.75; // Scale the h2 font-size to fit on mobile screens based on the base h1 size
        }
        .logo {
            width: $logo-size*0.85; // Scale the logo down to fit mobile screens based on the base logo size
            display: none;
        }
        .form--login  {
            width: 100%;
        }
        .form--vertical {
            width: 100%;
            input {
                padding: 0.5em 0;
            }
        }
      }
    }
  }
}
