@mixin box-shadow {
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.16);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.16);
}

@mixin button-circle {
  -webkit-appearance: none;
  border: none;
  background: $accent;
  padding: 0.9em 1em;
  border-radius: 50%;
  cursor: pointer;
}

@mixin overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #666;
  opacity: 0.4;
  z-index: 0;
}

@mixin smooth-transition {
  transition: all 0.2s ease-in-out;
}
