.slider {
  display: grid;
  grid-template-columns: 3em 1fr 3em;
  grid-template-rows: 50vh 3em;
  align-items: center;
  grid-gap: 1em;
  width: 100%;
}

.slider__track-container {
  grid-column: 2;
  align-self: stretch;
  overflow: hidden;
}

.slider__track {
  position: relative;
  width: 100%;
  height: 100%;
  .slider__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    list-style: none;
  }

  .slider__slide > a {
    display: block;
    width: inherit;
    height: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.slider__button {
  @include smooth-transition;
  -webkit-appearance: none;
  border: none;
  background: $accent;
  border-radius: 50%;
  padding: 0.25em 0.4em;
  &:hover {
    background: $accent-dark;
  }
  img {
    width: 100%;
  }
}

.slider__button.is-hidden {
  display: none;
}


.slider__nav {
  grid-column: 1 / -1;
  justify-self: center;
  .slider__dot {
    width: 1em;
    height: 1em;
    border-radius: 100%;
    border: 0;
    background-color: grey;
    &:hover {
      background-color: $accent;
    }
  }
  .slider__dot + .slider__dot {
    margin-left: 1em;
  }
  .slider__dot.is-selected {
    background-color: $dark;
  }
  .slider__dot > * {
    pointer-events: none;
  }
}
