
.button--createCrawl {
  @include button-circle;
  @include box-shadow;
  position: fixed;
  right: 15vw;
  bottom: 10vw;
  cursor: pointer;
  z-index: 5;
}

.button--orderCrawl {
  @include button-circle;
  @include box-shadow;
  z-index: 5;
  clear: both;
  display: inline-block;
}

.button--large {
  -webkit-appearance: none;
  border: none;
  border: 2px solid $accent;
  background: none;
  border-radius: 5em;
  padding: $input-padding;
  text-decoration: none;
  font-size: $button-size;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-top: 1em;
  &:hover {
    cursor: pointer;
  }
}

.button--accent {
  background: $accent;
  color: $white;
}

.button--white {
  background: $white;
  color: $accent;
}

.form--vertical {
  display: flex;
  flex-direction: column;
  width: $form-width;
  color: $accent;
  p, label, input {
    width: 100%;
  }
  span {
    font-weight: 500;
    font-size: 1em;
  }
  input {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    border: 2px solid $accent-light;
    border-radius: 0.75em;
    background: $accent-lighter;
    padding: $input-padding;
    margin-top: 0.3em;
    text-decoration: none;
    color: $accent;
    font-size: 1em;
    font-weight: 500;
    text-indent: 1em;
  }
  p {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
  }
}

.nav_button {
    display: flex;
    align-self: center;
    text-decoration: none;
    color: $white;
    margin: 0.3em;
}

.button--createCrawl.button--active {
  img {
    -webkit-transform: rotate(45deg);  /* to support Safari and Android browser */
    -ms-transform: rotate(45deg);      /* to support IE 9 */
    transform: rotate(45deg);
  }
}
