$white: white;
$off-white: #F5F5F5;
$dark: #222222;
$accent: #2699FB;
$accent-light: #BCE0FD;
$accent-lighter: #F1F9FF;

$h1-size: 1.6em;
$h2-size: 1.2em;
$p-size: 1em;
$button-size: 1em;

$input-padding: 0.7em 0;
$form-width: 17em;

$logo-size: 5em;

@import 'partials/mixins';
@import 'partials/media-queries';
@import 'partials/inputs';
@import 'partials/map';
@import 'partials/slider';

html {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    display: flex;
    position: fixed;
    z-index: 5;
    background: $accent;
    width: 100%;
    color: $white;
    justify-content: center;
    font-family: 'Hind', sans-serif;
    h1 {
        margin: 0.2em 0;
        font-size: $h1-size;
        flex-grow: 1;
        text-align: center;
        font-weight: 600;
    }
}

main {
    min-width: 100%;
    min-height: 100%;
    background: $off-white;
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
}

#content {
    margin: 1em;
    width: 40em;
    padding-top: 5em;
}

#content--flex {
    width: auto;
}

.container--form  {
    display: flex;
    flex-direction: column;
    width: $form-width;
    align-items: center;
    h2 {
        color: $dark;
    }
}

.editCrawlMenu, .newCrawlMenu, .searchPubsContainer, .pubDetailsContainer {
  @include box-shadow;
  display: none;
  align-items: flex-start;
  justify-content: center;
  .editCrawlForm, .newCrawlForm, .searchPubsMenu, .pubDetails {
    z-index: 1;
    background: white;
    padding: 5em;
  }
}

.fixedScroll {
  overflow: hidden;
}

.pubDetailsContainer {
  .pubDetails {
    z-index: 7;
    width: 50vw;
  }
}

.menu--open {
  display: flex;
  top: 6.4%;
  left: 0;
  position: fixed;
  height: calc(100vh - 6.4%);
  width: 100vw;
  overflow-y: scroll;
  .overlay {
    left: 0;
    @include overlay;
    position: fixed;
  }
}

.pubDetailsContainer {
  .overlay {
    z-index: 6;
  }
}

.title--left {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 0 0.5em;
    position: absolute;
    left: .5em;
    top: 0.75em;
    h1 {
        margin: 0;
        margin-left: 5%;
        flex: 0;
    }
    .logo--small {
        margin: 0 0.5em;
    }
}

.title--page {
    font-size: $h2-size;
}

.nav {
    display: flex;
    flex: 3;
    justify-content: space-around;
    margin: 0 9em;
}

.crawlList {
    grid-template-columns: 1fr 1fr;
    padding: 0;
    list-style: none;
    display: grid;
    .crawl {
      background: $white;
      color: $accent;
      display: flex;
      margin: 0.5em;
      flex-direction: column;
      .crawl_image {
        width: 100%;
        height: 10em;
        background: $dark;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .crawl_information {
        display: flex;
        padding: 0.5em 1em;
        .crawl_details {
          display: flex;
          flex: 3;
          flex-direction: column;
          .details_id {
            display: none;
          }
          .details_name {
            font-weight: bold;
            font-size: $h2-size;
          }
          .details_startDate {
            font-weight: normal;
            font-size: $p-size;
          }
        }
        .crawl_buttons {
          display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-end;
        }
        p, a {
          text-decoration: none;
          color: $accent;
        }
      }
    }
}


.pubList {
    grid-template-columns: 1fr;
    padding: 0;
    list-style: none;
    display: grid;
    .pub {
    //  background: $white;
      color: $accent;
      display: flex;
      position: relative;
      margin: 0.5em;
      height: 15em;
      flex-direction: row;
      background: $dark;
      background-size: cover;
      .pub_image {
        display: flex;
        height: 100%;
        width: 100%;
        object-fit: cover;
        color: $white;
        justify-content: center;
        align-items: center;
        filter: opacity(0.4);
        p {
          font-weight: bold;
          font-size: 1.5em;
        }
      }
      .pub_description {
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 1em;
        color: $white;
        .pub_name {
          font-weight: bold;
        }
      }
      form {
        align-self: center;
        margin-right: 1em;
        .pub_button {
          -webkit-appearance: none;
          background: white;
          border: none;
          border-radius: 50%;
          padding: 0.9em 1em;
          cursor: pointer;
        }
      }
    }
}

.pubDetailsButton {
  cursor: pointer;
  display: inline-block;
}

.hidden {
  z-index: 0;
}


.logo {
    width: $logo-size;
}

.logo--small {
    width: $logo-size*0.25;
}

.logo--mobile {
    display: none;
    width: 3.5em;
    margin-top: 0.2em;
    align-self: center;
}

.icon {
  width: 1.5em;
  height: 1.5em;
}

.editCrawlID {
  display: none;
}

.status {
  text-align: center;
}

.pubDetails_rating {
  unicode-bidi: bidi-override;
  color: $dark;
  font-size: 25px;
  height: 25px;
  width: 75px;
  margin: 0 auto;
  position: relative;
  padding: 0;

  .pubDetails_rating--top {
    color: $accent;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .pubDetails_rating--bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}
