html {
  margin: 0; }

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0; }

header {
  display: flex;
  background: #2699FB;
  width: 100%;
  color: white;
  justify-content: center;
  font-family: 'Hind', sans-serif; }
  header h1 {
    margin: 0.2em 0;
    font-size: 1.6em;
    flex-grow: 1;
    text-align: center;
    font-weight: 600; }

main {
  min-width: 100%;
  min-height: 100%;
  background: #F5F5F5;
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center; }

#content {
  margin: 1em; }

.container--form {
  display: flex;
  flex-direction: column;
  width: 17em;
  align-items: center; }
  .container--form h2 {
    color: #222222; }

.form--vertical {
  display: flex;
  flex-direction: column;
  width: 17em;
  color: #2699FB; }
  .form--vertical p, .form--vertical label, .form--vertical input {
    width: 100%; }
  .form--vertical span {
    font-weight: 500;
    font-size: 1em; }
  .form--vertical input {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    border: 2px solid #BCE0FD;
    border-radius: 0.75em;
    background: #F1F9FF;
    padding: 0.7em 0;
    margin-top: 0.3em;
    text-decoration: none;
    color: #2699FB;
    font-size: 1em;
    font-weight: 500;
    text-indent: 1em; }
  .form--vertical p {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0; }

.button--large {
  border: 2px solid #2699FB;
  background: none;
  border-radius: 5em;
  padding: 0.7em 0;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-top: 1em; }
  .button--large:hover {
    cursor: pointer; }

.button--accent {
  background: #2699FB;
  color: white; }

.button--white {
  background: white;
  color: #2699FB; }

.nav_button {
  display: flex;
  align-self: center;
  text-decoration: none;
  color: white;
  margin: 0.3em; }

.title--left {
  display: flex;
  flex: 1;
  align-items: center;
  margin: 0 0.5em;
  position: absolute;
  left: .5em;
  top: 0.75em; }
  .title--left h1 {
    margin: 0;
    margin-left: 5%;
    flex: 0; }
  .title--left .logo--small {
    margin: 0 0.5em; }

.title--page {
  font-size: 1.2em; }

.nav {
  display: flex;
  flex: 3;
  justify-content: space-around;
  margin: 0 9em; }

.nav_button img {
  width: 1.5em;
  height: 1.5em; }

.crawlList {
  grid-template-columns: 1fr 1fr;
  padding: 0;
  list-style: none;
  display: grid; }
  .crawlList li {
    background: white;
    color: #2699FB;
    display: flex;
    padding: 0.5em;
    margin: 0.5em; }
    .crawlList li p, .crawlList li a {
      text-decoration: none;
      color: #2699FB;
      font-weight: bold; }

.logo {
  width: 5em; }

.logo--small {
  width: 1.25em; }

.logo--mobile {
  display: none;
  width: 3.5em;
  margin-top: 0.2em;
  align-self: center; }

@media screen and (max-width: 40em) {
  html body header .title--left {
    display: none; }
  html body header .nav {
    margin: 0; }

  main .crawlList {
    grid-template-columns: 1fr; } }
@media screen and (max-width: 25em) {
  html body header {
    flex-direction: column; }
    html body header .logo--mobile {
      display: flex; }
  html body main #content {
    width: 100vw; }
    html body main #content .container--form {
      width: 100%; }
    html body main #content h2 {
      font-size: 1.2em; }
    html body main #content .logo {
      width: 4.25em;
      display: none; }
    html body main #content .form--login {
      width: 100%; }
    html body main #content .form--vertical {
      width: 100%; }
      html body main #content .form--vertical input {
        padding: 0.5em 0; } }

/*# sourceMappingURL=main.css.map */
