$white: white;
$off-white: #F5F5F5;
$dark: #222222;
$accent: #2699FB;
$accent-light: #BCE0FD;
$accent-lighter: #F1F9FF;

$h1-size: 1.6em;
$h2-size: 1.2em;
$p-size: 1em;
$button-size: 1em;

$input-padding: 0.7em 0;
$form-width: 17em;

$logo-size: 5em;

html {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
}

header {
    display: flex;
    background: $accent;
    width: 100%;
    color: $white;
    justify-content: center;
    font-family: 'Hind', sans-serif;
    h1 {
        margin: 0.2em 0;
        font-size: $h1-size;
        flex-grow: 1;
        text-align: center;
        font-weight: 600;
    }
}

main {
    min-width: 100%;
    min-height: 100%;
    background: $off-white;
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
}

#content {
    margin: 1em;
    width: 40em;
}

#content--flex {
    width: auto;
}

.container--form  {
    display: flex;
    flex-direction: column;
    width: $form-width;
    align-items: center;
    h2 {
        color: $dark;
    }
}

.newCrawlMenu {
  display: none;
  align-items: center;
  justify-content: center;
  .newCrawlForm {
    z-index: 1;
    background: white;
    padding: 5em;
  }
}

.menu--open {
  display: flex;
  top: 6.5%;
  left: 0;
  position: fixed;
  height: calc(100vh - 6.5%);
  width: 100vw;
  .overlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: grey;
    opacity: 0.2;
    z-index: 0;
  }
}

.button--createCrawl {
  -webkit-appearance: none;
  border: none;
  background: $accent;
  padding: 0.9em 1em;
  border-radius: 50%;
  position: fixed;
  right: 15vw;
  bottom: 10vw;
  cursor: pointer;
  z-index: 5;
}

.button--createCrawl.button--active {
  img {
    -webkit-transform: rotate(45deg);  /* to support Safari and Android browser */
    -ms-transform: rotate(45deg);      /* to support IE 9 */
    transform: rotate(45deg);
  }
}

.form--vertical {
    display: flex;
    flex-direction: column;
    width: $form-width;
    color: $accent;
    p, label, input {
        width: 100%;
    }
    span {
        font-weight: 500;
        font-size: 1em;
    }
    input {
        font-family: 'Open Sans', sans-serif;
        box-sizing: border-box;
        border: 2px solid $accent-light;
        border-radius: 0.75em;
        background: $accent-lighter;
        padding: $input-padding;
        margin-top: 0.3em;
        text-decoration: none;
        color: $accent;
        font-size: 1em;
        font-weight: 500;
        text-indent: 1em;
    }
    p {
        display: flex;
        flex-direction: column;
        margin: 0.5em 0;
    }
}

.button--large {
    border: 2px solid $accent;
    background: none;
    border-radius: 5em;
    padding: $input-padding;
    text-decoration: none;
    font-size: $button-size;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
    &:hover {
        cursor: pointer;
    }
}

.button--accent {
    background: $accent;
    color: $white;
}

.button--white {
    background: $white;
    color: $accent;
}

.nav_button {
    display: flex;
    align-self: center;
    text-decoration: none;
    color: $white;
    margin: 0.3em;
}

.title--left {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 0 0.5em;
    position: absolute;
    left: .5em;
    top: 0.75em;
    h1 {
        margin: 0;
        margin-left: 5%;
        flex: 0;
    }
    .logo--small {
        margin: 0 0.5em;
    }
}

.title--page {
    font-size: $h2-size;
}

.nav {
    display: flex;
    flex: 3;
    justify-content: space-around;
    margin: 0 9em;
}

.crawlList {
    grid-template-columns: 1fr 1fr;
    padding: 0;
    list-style: none;
    display: grid;
    .crawl {
      background: $white;
      color: $accent;
      display: flex;
      margin: 0.5em;
      flex-direction: column;
      .crawl_image {
        width: 100%;
        height: 10em;
        background: $dark;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .crawl_information {
        display: flex;
        padding: 0.5em 1em;
        .crawl_details {
          display: flex;
          flex: 3;
          flex-direction: column;
          .details_name {
            font-weight: bold;
            font-size: $h2-size;
          }
          .details_startDate {
            font-weight: normal;
            font-size: $p-size;
          }
        }
        .crawl_buttons {
          display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-end;
        }
        p, a {
          text-decoration: none;
          color: $accent;
        }
      }
    }
}

.logo {
    width: $logo-size;
}

.logo--small {
    width: $logo-size*0.25;
}

.logo--mobile {
    display: none;
    width: 3.5em;
    margin-top: 0.2em;
    align-self: center;
}

.icon {
  width: 1.5em;
  height: 1.5em;
}

@media screen and (min-width: 40em) {
  html body {
    main {
      .button--createCrawl {
        right: 30vw;
        bottom: 10vw;
      }
    }
  }
}

@media screen and (max-width: 40em) {
  html body {
    .icon {
      width: 2em;
      height: 2em;
    }
    header {
      .title--left {
        display: none;
      }
      .nav {
        margin: 0;
      }
    }
    main {
      .crawlList {
        grid-template-columns: 1fr;
      }
    }
  }
}

@media screen and (max-width: 25em) {
  html body {
    header {
        flex-direction: column;
        .logo--mobile {
            display: flex;
        }
    }
    main {
      #content {
        width: 100vw;
        .container--form {
            width: 100%;
        }
        h2 {
            font-size: $h1-size*0.75;
        }
        .logo {
            width: $logo-size*0.85;
            display: none;
        }
        .form--login  {
            width: 100%;
        }
        .form--vertical {
            width: 100%;
            input {
                padding: 0.5em 0;
            }
        }
      }
    }
  }
}
